<!DOCTYPE html>
<html lang="en">

<head>
  <title>Famous Composers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../style.css" />
</head>

<a [routerLink]="['/process' {{ composer.Composer }}]">Create New Composer</a>

<table class="table table‐hover">
  <thead class="thead‐dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Music Genre</th>
      <th>Functions</th>   
    </tr>
        <!----create button-->
  </thead>
      <tbody *ngFor="let composer of composers">
        <tr>
      <td>
        {{ composer.firstName }}
      </td>
      <td>
        {{ composer.lastName }}
      </td>
      <td>
        {{ composer.musicGenre }}
      </td> 
      <td>
        <!--edit and delete buttons-->
        <a [routerLink]="['/detail' {{ composer._id }}]">Edit</a>
        <a [routerLink]="['/delete' {{ composer._id }}]">Delete</a>
      </td>
    </tr>
        </tbody>
</table>