<h1>Composer Details</h1>

<table class="table table‐hover">
  <thead class="thead‐dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Music Genre</th> 
      <th>Functions</th>
    </tr>

  </thead>
  <tbody *ngFor="let composer of composers">
    <tr>
      <td>
        {{ composer.firstName }}
      </td>
      <td>
        {{ composer.lastName }}
      </td>
      <td>
        {{ composer.musicGenre }}
      </td> 
      <td>
        <a routerLink="/update'/{{composer.id}}">Edit</a>
      </td>
    </tr>
  </tbody>
</table>