<mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="toolbar__icon-button mat-button">
      <span style="margin-left: 5px !important;">WEB 450</span>
    </button>
    <button mat-button class="mat-button">
      About
    </button>
    <button mat-button class="mat-button">
      Contact Us
    </button>

    <div fxFlex></div>

    <!--User Profile -->
  </mat-toolbar-row>
  </mat-toolbar>
  
<div class="wrapper">
    <div class="parent" fxLayout="row">
        <div class="left" fxFlex="20"></div>
        <div class="right" fxFlex="80">
          <h1 class="message">Welcome to NodeQuiz!</h1>
	<div class="frm-login">
		<mat-card class="login-panel frm-login-panel">
			<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

        <div>Employee ID: <input type="text" name="username" ngModel></div>
      
        <button type="submit">Submit</button>
      
      </form>
		</mat-card>
	</div>
</div>
</div>
</div>
