<mat-table mat-table class="mat-elevation-z8">

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> Microservices </td>
    <td mat-cell *matCellDef="let element"> SOAP </td>
    <td mat-cell *matCellDef="let element"> OAuth </td>
  </ng-container>

  <!-- Presentation Column -->
  <ng-container matColumnDef="presentation">
    <th mat-header-cell *matHeaderCellDef> Presentation </th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="../presentations/nodequiz-presentations/presentations.component.html/Microservices-presentation.mp4">
        View Presentation
      </a>
    </td>
    <td mat-cell *matCellDef="let element">
      <a routerLink="../presentations/nodequiz-presentations/presentations.component.html/SOAP-presentation.mp4">
        View Presentation
      </a>
    </td>
    <td mat-cell *matCellDef="let element">
      <a routerLink="../presentations/nodequiz-presentations/presentations.component.html/OAuth-presentation.mp4">
        View Presentation
      </a>
    </td>
  </ng-container>

  <!-- Quiz Column -->
  <ng-container matColumnDef="quiz">
    <th mat-header-cell *matHeaderCellDef> Quiz </th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="../quizzes/{{quiz.id}}">
        Take Quiz!
      </a>
    </td>
    <td mat-cell *matCellDef="let element">
      <a routerLink="../quizzes/{{quiz.id}}">
        Take Quiz!
      </a>
    </td>
    <td mat-cell *matCellDef="let element">
      <a routerLink="../quizzes/{{quiz.id}}">
        Take Quiz!
      </a>
    </td>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>