<table mat-table class="mat-elevation-z8">

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> Microservices </td>
    <td mat-cell *matCellDef="let element"> SOAP </td>
    <td mat-cell *matCellDef="let element"> OAuth </td>
  </ng-container>

  <!-- Presentation Column -->
  <ng-container matColumnDef="presentation">
    <th mat-header-cell *matHeaderCellDef> Presentation </th>
    <td mat-cell *matCellDef="let element" a href="../presentations/nodequiz-presentations/presentations.component.html/Microservices-presentation.mp4" class="presentation"> View Presentation </td>
    <td mat-cell *matCellDef="let element" a href="../presentations/nodequiz-presentations/presentations.component.html/SOAP-presentation.mp4" class="presentation"> View Presentation </td>
    <td mat-cell *matCellDef="let element" a href="../presentations/nodequiz-presentations/presentations.component.html/OAuth-presentation.mp4" class="presentation"> View Presentation </td>
  </ng-container>

  <!-- Quiz Column -->
  <ng-container matColumnDef="quiz">
    <th mat-header-cell *matHeaderCellDef> Quiz </th>
    <td mat-cell *matCellDef="let element"> Take Quiz! </td>
    <td mat-cell *matCellDef="let element"> Take Quiz! </td>
    <td mat-cell *matCellDef="let element"> Take Quiz! </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
